In [ ]:
a=[100,200,300,400,500]
a.reverse()
print(a)

[500, 400, 300, 200, 100]

In [ ]:
list_1=[100,200,300,400,500]
list_1=list_1[::-1]
print(list_1)

[500, 400, 300, 200, 100]

In [ ]:
num=[1,2,3,4,5,6,7]
res=[]
for i in num:
  res.append(i*i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
num=[1,2,3,4,5,6,7]
res=[i*i for i in num]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list1=["Hello","Take"]
list2=[" Dear"," Sir"]
res=[a + b for a in list1 for b in list2]
print(res)

['Hello Dear', 'Hello Sir', 'Take Dear', 'Take Sir']

In [ ]:
list_1=["Good","morning"]
list_2=[" hello"," world"]
res=[x+y for x in list_1 for y in list_2]
print(res)

['Good hello', 'Good world', 'morning hello', 'morning world']

In [ ]:
list1=["hai","hello","","","apple"]
res=list(filter(None,list1))
print(res)

['hai', 'hello', 'apple']

In [ ]:
keys=["Ten","Twenty","Thirty"]
value=[10,20,30]
res=dict(zip(keys,value))
print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
sub={"physics": 85,"maths":65,"chemestry":75}
print(min(sub,key=sub.get))

maths

In [ ]:
a=1
b=4
print(a+b)

5

In [ ]:
a=2
b=4
print(a**b)

16

In [ ]:
a=5
a+=1
print(a)

6

In [ ]:
a=3
b=3
print(a!=b)

False

In [ ]:
num1,num2=0,1
a=int(input("enter number:"))
for i in range(a):
  print(num1,end=" ")
  res=num1+num2
  num1=num2
  num2=res

enter number:7
0 1 1 2 3 5 8

In [ ]:
a=int(input("Enter number:"))
fact=1
if a<0:
  print("No factorial")
elif a==0:
  print("factorial is 1")
else:
  for i in range(1,a+1):
    fact=fact*i
  print("Factorial of given number is :",fact)

Enter number:2
Factorial of given number is : 2

In [ ]:
a=int(input("Enter a number:"))
sum=0
for i in range(a+1):
  if a>0:
    sum=sum+i
print (sum)

Enter a number:2
3

In [ ]:
n=int(input("Enter a natural number:"))
if n<0:
  print("please enter a positive number")
else:
  sum=n*(n+1)/2
  print(sum)

Enter a natural number:7
28.0

In [ ]:
s=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in s:
  if i%2==0:
    sum+=i
print(sum)

30

In [ ]:
a=int(input("enter a number:"))
n=int(input("enter a limit:"))
for i in range(1,n+1):
  print(a,"*",i,"=",a*i)

enter a number:2
enter a limit:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
a=int(input("enter your limit:"))
n=1
while n<a+1:
  print(n)
  n+=1

enter your limit:3
1
2
3

In [ ]:
a=int(input("Enter your limit:"))
n=1
while n<a+1:
  print("hello")
  n+=1

Enter your limit:5
hello
hello
hello
hello
hello

In [ ]:
a=input("Enter a number:")
print(len(a))

Enter a number:34
2

In [ ]:
n=int(input("Enter a number:"))
count=0
while n>0:
  count+=1
  n//=10
print(count)

Enter a number:23
2

In [ ]:
strg=input("Enter a string:")
count={}
for a in strg:
  if a in count:
    count[a]+=1
  else:
    count[a]=1
print("Occurrences of each charecter:")
for a,n in count.items():
  print(f"{a}:{n}")

Enter a string:shahana
Occurrences of each charecter:
s:1
h:2
a:3
n:1

In [ ]:
fruit=["banana","apple","mango","orange"]
for i in (fruit):
  if i=='apple':
    continue
  print(i)

banana
mango
orange

In [ ]:
fruit=["banana","apple","mango","orange"]
for i in (fruit):
  if i=='apple':
    break
  print(i)

banana

In [ ]:
num=0
while num<10:
  num+=1
  if num==6:
    continue
  print(num)

1
2
3
4
5
7
8
9
10

In [ ]:
num=0
while num<10:
  num+=1
  if num==6:
    break
  print(num)

1
2
3
4
5

In [ ]:
def msg(name):
  print("hello "+name)
msg("ansha")

hello ansha

In [ ]:
def add(num1,num2,num3):
  print(num1+num2+num3)
add(1,2,3)

6

In [ ]:
def squar(num1):
  print(num1*num1)
squar(3)

9

In [ ]:
import math
a=int(input("Enter a number:"))
result=math.sqrt(a)
print(result)

Enter a number:81
9.0

In [ ]:
import math
a=int(input("enter a number:"))
b=int(input("enter a power:"))
res=math.pow(a,b)
print(res)

enter a number:2
enter a power:2
4.0

In [ ]:
def mult():
  a=int(input("Enter a number:"))
  b=int(input("Enter a limit:"))
  for i in range(1,b+1):
    res=a*i
    print(a,"*",i,"=",res)
mult()

Enter a number:2
Enter a limit:4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [ ]:
def sum(numbers):
  total=0
  for i in numbers:
    total=total+i
  return total
print(sum([1,2,3,4]))

10

In [ ]:
def num(multiply):
  res=1
  for i in multiply:
    res=res*i
  return res
print(num([5,2]))

10

In [ ]:
def reverse(a):
  b=a[::-1]
  return b
c="ansha"
print(reverse(c))

ahsna

In [ ]:
def even(num):
  for i in num:
    if i%2==0:
      print(i)
a=[1,2,3,4,5,6,7,8,9,10]
even(a)

2
4
6
8
10

In [ ]:
a=input("Enter a string:")
a=a.replace(" ","")
a=a.lower()
if a==a[::-1]:
  print("The string is palindrom")
else:
  print("The string is not palindrom")

Enter a string:Malayalam
The string is palindrom

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mult(a,b):
  return a*b
def div(a,b):
  if b!=0:
    return a/b
  else:
    return "invalid input"
while True:
  print("Select operation")
  print("1.Add")
  print("2.Substraction")
  print("3.multiplication")
  print("4.Divition")
  print("5.Exit")
  choice=input("Enter choice(1/2/3/4/5):")
  if choice=='5':
    print("Exiting the calculator")
    break
  if choice>'5':
    print("invalid")
    break
  num1=int(input("Enter a first number:"))
  num2=int(input("Enter a seconde number:"))
  if choice=='1':
    print("result:",add(num1,num2))
  elif choice=='2':
    print("result:",sub(num1,num2))
  elif choice=='3':
    print("result:",mult(num1,num2))
  elif choice=='4':
    print("result:",div(num1,num2))

Select operation
1.Add
2.Substraction
3.multiplication
4.Divition
5.Exit
Enter choice(1/2/3/4/5):5
Exiting the calculator